.wrapper {
  width: 28px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.block {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
.block:nth-of-type(1) {
  left: 0;
  background-color: #1994fd;
}
.block:nth-of-type(2) {
  left: 12px;
  background-color: #1c9efe;
}
.block:nth-of-type(3) {
  left: 24px;
  background-color: #20b3fb;
}
.block:nth-of-type(4) {
  left: 36px;
  background-color: #23c6fb;
}
.block:nth-of-type(5) {
  left: 48px;
  background-color: #23d3fb;
}
@keyframes slide {
  0%,
  8% {
    transform: translateX(0);
    background-color: #1994fd;
  }
  92%,
  100% {
    transform: translateX(48px);
    background-color: #23d3fb;
  }
}
.mover {
  animation: slide 1.3s infinite alternate cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes jump1 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  7.5% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  15% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  19% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(-180deg);
  }
  23%,
  70% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  77.5% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  85% {
    top: 0;
    height: 8px;
    transform: rotateZ(0);
  }
  89% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(0);
  }
  94%,
  100% {
    top: 0;
    height: 8;
    transform: rotateZ(0);
  }
}
@keyframes jump2 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  7.5% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  15% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  19% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(-180deg);
  }
  23%,
  57.5% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  65% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  72.5% {
    top: 0;
    height: 8px;
    transform: rotateZ(0);
  }
  76.5% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(0);
  }
  80.5%,
  100% {
    top: 0;
    height: 8;
    transform: rotateZ(0);
  }
}
@keyframes jump3 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  7.5% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  15% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  19% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(-180deg);
  }
  23%,
  45% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  52.5% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  60% {
    top: 0;
    height: 8px;
    transform: rotateZ(0);
  }
  64% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(0);
  }
  68%,
  100% {
    top: 0;
    height: 8;
    transform: rotateZ(0);
  }
}
@keyframes jump4 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  7.5% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  15% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  19% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(-180deg);
  }
  23%,
  32.5% {
    top: 0;
    height: 8px;
    transform: rotateZ(-180deg);
  }
  40% {
    top: -6px;
    transform: rotateZ(-90deg);
  }
  47.5% {
    top: 0;
    height: 8px;
    transform: rotateZ(0);
  }
  51.5% {
    top: 2.66px;
    height: 5.33px;
    transform: rotateZ(0);
  }
  55.5%,
  100% {
    top: 0;
    height: 8;
    transform: rotateZ(0);
  }
}
.jumper {
  transform-origin: -2px;
}
.jumper:nth-of-type(2) {
  animation: jump1 2.6s 0.2s infinite linear;
}
.jumper:nth-of-type(3) {
  animation: jump2 2.6s 0.35s infinite linear;
}
.jumper:nth-of-type(4) {
  animation: jump3 2.6s 0.5s infinite linear;
}
.jumper:nth-of-type(5) {
  animation: jump4 2.6s 0.65s infinite linear;
}
